/* NAVBAR BRANCA */
.navbar-branca {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container_nav {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 95%;
    max-width: 1300px;
    
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.logo_img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    font-size: 20px;
    font-weight: 700;
}

.logo p {
    font-size: 12px;
    color: #aaa;
    margin-top: -5px;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover,
.menu .ativo {
    color: #fff;
    background-color: #000;
    padding: 6px 12px;
    border-radius: 12px;
}

/* USER INFO */
.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 6px 14px;
}

.user-dados {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.user-dados strong {
    font-weight: 700;
    color: #000;
}

.user-dados span {
    font-size: 12px;
    color: #666;
}

.btn-sair {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    transition: background 0.3s;
}

.btn-sair:hover {
    background: #333;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .menu {
        display: none;
    }
    .botao_menu {
        display: block;
        background: none;
        border: none;
        font-size: 26px;
        color: #000;
    }
}

